 select {
    color: inherit;
    font: inherit;
    margin: 0;
  }
  
  select {
    text-transform: none;
  }
  
  .formGroup__input--select {
    background-size: 1.25em 1.25em;
    background-position: center right;
    background-repeat: no-repeat;
    cursor: pointer;
    background-origin: content-box;
    margin-right: 0.125em;
    font-style: italic;
  }
  
  select {
    position: relative;
    background-color: #E4E4E4;
    display: block;
    width: 100%;
    outline: none;
    cursor: pointer;
    z-index: 2;
    border: none;
    padding: 10px 10px 10px 5px;
    background-size: 2.1875em 1.25em;
    background-position: center right;
    background-repeat: no-repeat;
    text-overflow: "";
    text-indent: 5px;
    text-rendering: auto;
    color: black;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    white-space: pre;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-display: flex;
    -moz-display: flex;
    -o-display: flex;
    -ms-display: flex;
    display: flex;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -o-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-items: center;
    -moz-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-transition: ease all 0.3s;
    -moz-transition: ease all 0.3s;
    -o-transition: ease all 0.3s;
    -ms-transition: ease all 0.3s;
    transition: ease all 0.3s;
  }

  select[multiple=multiple] {
    height: auto;
    border: 1px solid #cbcbcb;
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.07);
  }
  select[multiple=multiple]:hover {
    border-color: #cccccc;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  select option[disabled] {
    color: #eeeeee;
    text-shadow: none;
    border: none;
    background: #ffffff;
  }
  select option {
    position: absolute;
    background-color: white;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    font-size: 16px;
  }
  select option div {
    width: 10%;
  }
  
  select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #888888;
  }
  
  select::-ms-expand {
    display: none;
  }