.formGroup__errorText--show {
    width: 100%;
    margin-top: 0.25rem;
    font: 12.8px -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #ed1c27 !important;
    text-align: start !important;
}

mbaas-acu003 * .formGroup>label.formGroup__label--apertura {
    font-weight: normal !important;
}

/* @media (min-width: 992px) {
  .formContainer__columnContainer .formColumn {
    width: 55% !important;
  }
} */

.formColumn--small label + h2 {
  white-space: nowrap;
}

.formColumn--small label + h2 .tooltip__message.tooltip__message--text {
  white-space: break-spaces;
}